version: "3.8"

services:
  client:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - HOST=0.0.0.0
      - CHOKIDAR_USERPOLLING=true
      - REACT_APP_SERVER_URL=${REACT_APP_SERVER_URL}
