version: "3.8"
services:
  client:
    build:
      context: .
      args:
        - REACT_APP_SERVER_URL=http://109.107.171.222:4000
    restart: always
    networks:
      - web-network

networks:
  web-network:
    external: true
